extends ../../layout

block content
  h1= title
  p Make Changes to #{doc.task}:
  small #{doc.id}
  br
  // form(ng-controller="EditTaskCtrl", ng-submit="submitEdit()")
  form(ng-controller="EditTaskCtrl", method="post", action="/tasks/#{doc.id}")
    input(id="method", type="hidden", name="_method", value="put")
    input(id="task", type="text", name="task[task]", value="#{doc.task}", ng-model="formVals.task")
    input(id="submit", type="submit", value="update")
    b to "{{formVals.task}}"
  
